body {
    color: white;
}

.backdrop {
    background-color: black;
}

.flex-container {
    align-items: center;
    padding: 7%;
    padding-top: 2%;
}

.main {
    flex: 60%;
}

.content {
    width: 100%;
}

.description {
    margin-top: 8%;
    text-align: justify;
}
.side {
    flex: 40%;
}

#profile {
    width: 100%;
}

.catchphrase {
    color:#bfbfbf;
}

.button-container {
    margin-top: 35px;
}

.learn-more {
    color: yellow;
    font-size: 20px;
}

#email {
    color: yellow;
}

a:hover, #submit:hover {
    text-decoration: none;
    color: orangered;
}

.form-label {
    font-size: 12px;
}

.form-input {
    background-color: #1a1a1a;
    border: none;
}
#submit {
    color: yellow;
    background-color: transparent;
    border-color: white;
    margin-top: 5%;
}

.social-media {
    height: 30px;
}

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    #profile {
        width: 80%;
    }

    .content {
        width: 80%;
    }
} 